<div class="question">
  <h1><%= @question.title.titleize %></h1>
  <div class="view-count">Views: <%= @question.view_count %></div>
  <p>Created By: <%= @question.user.full_name if @question.user %></p>

Tags: <%= @question.tags.map { |t| t.title.capitalize }.join(', ') %><br>

<% if @question.liked_by?(current_user) %>

  <%= link_to fa_icon("thumbs-o-down"),
                   question_like_path(@question,
                   @question.like_for(current_user)),
                   method: :delete %>

<% else %>

  <%= link_to fa_icon("thumbs-o-up"),
              question_likes_path(@question),
              method: :post %>

<% end %>

Likes: <%= @question.likes.count %><br>

<% if @question.voted_up_by?(current_user) %>

  <%= link_to "Undo vote up",
              question_vote_path(@question,
              current_user_vote),
              method: :delete,
              data: {disable_with: "..."} %>

  <%= link_to "Vote down",
              question_vote_path(@question,
              current_user_vote, vote: {is_up: false}), method: :patch %>

<% elsif @question.voted_down_by?(current_user) %>

<%= link_to "Vote Up",
            question_vote_path(@question,
            current_user_vote, vote: {is_up: true}), method: :patch   %>

<%= link_to "Undo vote down",
             question_vote_path(@question,
             current_user_vote),
             method: :delete,
             data: {disable_with: "..."}%>

<% else %>

  <%= link_to("Vote up", question_votes_path(@question,
                         vote: {is_up: true}), method: :post)  %>

  <%= link_to("Vote down", question_votes_path(@question,
                       vote: {is_up: false}), method: :post)  %>

<% end %>
  Vote total: <%= @question.vote_sum %>
  <p><%= @question.body %></p>
  <% if can? :manage, @question %>
    <%= link_to "Edit", edit_question_path(@question) %>
    <%= link_to "Delete", question_path(@question), method: :delete,
                                                    data: {confirm: "Are you sure?"} %>
  <% end %>

</div>
<%= @answer.errors.full_messages.join(', ') %>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<h2>Answers</h2>

<% @question.answers.each do |ans| %>
  <div>
    <%= ans.body %>
    <% if can? :manage, ans %>
      <%= link_to "Delete", question_answer_path(@question, ans),
                         method: :delete,
                         data: {confirm: "Are you sure?"} %>
    <% end %>
    <hr>
  </div>
<% end %>
